* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .logo {
    font-size: 4.5vw;
    font-family: "Urbanist";
    color: #1a2d34;
  }

  .social-media-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1%;

    a {
      margin: 20%;
      font-size: 2.5vw;
      color: #1a2d34;
    }
  }

  .burger-menu {
    height: 3vw;
    width: 4vw;
    margin: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;

    .burger-bar {
      width: 4vw;
      height: 0.5vw;
      background-color: #58daa2;
      border-radius: 0.5vw;
    }
  }
}
.menu {
  
  border: .2vw solid #1a2d34;
  border-radius: 2vw;
  // margin-top: -.5vw;
  // margin-left: 2vw;
  background-color: #d4e7e0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    padding: 1em;
    font-size: 1.5vw;
  }

  li {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    list-style: none;
    margin: 0.5vw;
  }
  li:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
  }

  animation: animate 1s ease-in-out;
}

@keyframes animate {
  0% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(40px);
  }

  70% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hidden {
  display: none;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75vw, 1.25vw);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5vw, 1vw);
  transition: ease-out 0.5s;
}

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

@media (max-width: 768px) {
  .menu {
  }
}
