body{
    margin:0;
    padding: 20px 40px;
    font-family: 'Urbanist', sans-serif;
    background-color: #646165;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a {
    text-decoration: none;
    color: black;
}

*{
    box-sizing: border-box;
}